/* Your CSS styles go here */

body {
    font-family: Arial, sans-serif;
    color: #010102;
    background-color: #faf8f8;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 80px;
  }
  
  #startButton {
    margin: 50px auto;
    display: block;
    border-radius: 4px;
    background-color: blue;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    align-items: center;
    padding: 20px;
    width: 200px;
    border: none;
    transition: all 0.5s;
  }
  
  #questionContainer {
    font-size: 30px;
  }
  
  #questionContainer button {
    display: block;
    padding: 10px;
    width: 350px;
    background-color: #297bf7;
    border: 5px solid #faf9f9;
    cursor: pointer;
    font-size: 30px;
    color: #fcfafa;
  }
  
  #timer {
    position: absolute;
    top: 0;
    right: 15%;
    transform: translateX(-50%);
    font-size: 25px;
    margin-bottom: 50px;
    color: rgb(1, 7, 7);
  }
  #restartButton {
    margin: 50px auto;
    display: block;
    border-radius: 4px;
    background-color: blue;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    align-items: center;
    padding: 20px;
    width: 200px;
    border: none;
    transition: all 0.5s;
  }